html {
  height: 100%;
  // box-sizing: border-box;
}

// *,
// *:before,
// *:after {
//   box-sizing: inherit;
// }

$wellColor: #F5F5F5;

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

header {
  background-color: blue;
  height: 60px;
  color: white;
}

footer {
  background-color: grey;
  color: black;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.blue {
  background-color: blue;
}

hr {
  border-color: rgba(0, 0, 0, .3);
}

@mixin rollover($color) {
  border: solid 1px $color;
  &:hover{
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: 4px;
    cursor: pointer;
  }
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.game {
  display: flex;
  margin: 0 0 1em 0;
  padding: .5em;
  .gameDetail {
    margin-left: 1em;
  }
  img {
    -webkit-box-shadow: -3px -3px 5px -1px rgba(0,0,0,0.39);
    -moz-box-shadow: -3px -3px 5px -1px rgba(0,0,0,0.39);
    box-shadow: -3px -3px 5px -1px rgba(0,0,0,0.39);
  }
  @include rollover($wellColor);
}

.friends {
  list-style-type: none;
  padding: 0 0 0 15px;
  li {
    font-size: 1.2em;
    padding: 3px;
    @include rollover($wellColor);
  }
}
